
@{
    ViewBag.Title = "登录";
}

<div class="alert">
    <h1 style="text-anchor:middle">登录用户</h1>
    <input type="text" id="userName" title="用户名" />
    <input type="text" value="密码" id="password" titie="密码" />
</div>

